<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
   <div class="site-name">FeastFreedom Homemade Food</div>
   
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         <!--  Hello
         <a th:href="@{/admin/accountInfo}" th:utext="">..</a>
         &nbsp;|&nbsp;
        <a th:href="@{/admin/logout}">Logout</a>-->
         <a href="register.html">User Register</a>
         <a href="login.html">Login</a>
      </th:block>
      
       |
      <th:block sec:authorize="!isAuthenticated()">
         <!-- <a th:href="@{/admin/login}">Login</a> -->
         <a href="addprovider.html">Provider Register</a>
         <a href="loginprovider.html">Login</a>
      </th:block>
   </div>
   
</div>